<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309952689430-t40mfljgme16020dgp2871io47us78tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309952689430-t40mfljgme16020dgp2871io47us78tn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>309952689430-6671qkv1v3vk3d6ogf9oj7unmhsf3tg3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCE8GblXqD3AU9MzdYAmYd-WBHbuy95fA4</string>
	<key>GCM_SENDER_ID</key>
	<string>309952689430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pearl</string>
	<key>PROJECT_ID</key>
	<string>pearlpro-d5fb8</string>
	<key>STORAGE_BUCKET</key>
	<string>pearlpro-d5fb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309952689430:ios:39b2a0c8121fa95de9cc37</string>
</dict>
</plist>